<table id="edit-table">
	<tfoot>
		<td colspan="3">
			<form id="newtask" action="/">
				<input id="tasktitle" name="tasktitle" type="text" autocapitalize="sentence" autocorrect="true" name="title" placeholder="Type a new task here"></input>
			</form>
		</td>
	</tfoot>
	<tbody>
		<% @tasks.each do |task| %>
			<% @task = task %>
			<%= erubis :task_row_short, :layout => false %>
		<% end %>
	</tbody>
</table>