<% if !@tasks.empty? %>
	<table>
		<thead>
			<th></th>
			<% 7.times do |d| %>
				<% day = Date.today - Date.today.wday + d %>
				<th class="
					<%= ' hidden-phone' if d < Date.today.wday - 1 || d > Date.today.wday + 1 %>
					<%= ' today' if Date.today.wday == d %>">
					<%= day.strftime('%A') %></th>
			<% end %>
		</thead>
		<tbody>
			<% @tasks.each_with_index do |task, i| %>
				<% @task = task %>
				<%= erb :task_row, :layout => false %>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="hero-unit">
		<h2>This is your home.</h2>
		<p><a href="/new">Add</a> a task to get started.</p>
	</div>
<% end %>