<%
	y = []
	length = @checks.last.date - @checks.first.date
	length.to_i.downto(0) { |i|
		day = []
		@tasks.each_with_index do |task, t|
			day.push(:day=> (Date.today - i).wday, :task => task.title, :count=> task.checks.count(:date => Date.today - i))
		end
		y[i] = day
	}

	y = y.to_json
%>

<% if !@tasks.empty? %>
	<div id="check-table">
		<table>
			<thead>
				<tr>
					<th></th>
					<% 7.times do |d| %>
						<% todayAsDate = Time.zone.now.to_date %>
						<% day = todayAsDate - todayAsDate.wday + d %>
						<th class="
							<%= ' hidden-phone' if d < todayAsDate.wday - 1 || d > todayAsDate.wday + 1 %>
							<%= ' today' if todayAsDate.wday == d %>">
							<%= day.strftime('%A') %></th>
					<% end %>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td class="title add" style="height: 50px;" colspan="8">
						<a class="add" style="border-color: #CCC"><i class="icon-plus-sign"></i></a>
						<form id="newtask" class="form">
							<input id="title" name="title" type="text" autocapitalize="sentence" autocorrect="true" placeholder="Task: Go for a bike ride"></input>
							<input id="purpose" name="purpose" type="text" autocapitalize="sentence" autocorrect="true" placeholder="Purpose: I want to be healthier"></input>
							<button type="submit" class="btn">Add it!</button>
						</form>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<% @tasks.each_with_index do |task, i| %>
					<% @task = task %>
					<% @rowNum = i %>
					<%= erb :task_row, :layout => false %>
				<% end %>
			</tbody>
		</table>
	</div><!-- / -->
<% else %>
	<div class="hero-unit">
		<h2>This is your home.</h2>
		<p><a href="/new">Add</a> a task to get started.</p>
	</div>
<% end %>