<div class="hero-unit">
	<div class="center-container"><img src="img/devices.jpg" alt=""></div>
	<h1>Get stuck on repeat.</h1>
	<p>Standards helps you build better habits.</p>
	<p>
		<a class="btn btn-primary btn-large" href="/signup">
			Sign up
		</a>
	</p>
</div>
<div>
</div><!-- / -->