<div class="hero-unit">
	<div class="center-container"><img src="img/devices.jpg" alt=""></div>
	<h1>Get stuck on repeat.</h1>
	<p>Standards helps you build better habits.</p>
	<p class="sign-up">
		<a class="btn btn-primary btn-large" href="/signup">
			Sign up
		</a>
	</p>
	<h2>What's this about?</h2>
	<p>I found that when I wanted to build better habits, it helped me if there was a way to track and see how consistent I was being. Standards is designed to be readily accessible, persistent and smart in order to help you gauge your progress. Standards was influenced by Jake Lodwick's <a href="http://wehavestandards.com/">We Have Standards</a> and Doug Stewart's <a href="http://did.heroku.com/">DID</a>.</p>
	<p>&mdash; Brandon Evans</p>
	<h2>For the neckbeards</h2>
	<p>Standards is built with <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and is hosted on <a href="http://www.heroku.com/">Heroku</a>. The source is available on <a href="http://github.com/interstateone/standards">GitHub</a>.</p>
	<p>
		<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=interstateone&repo=standards&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=interstateone&repo=standards&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
	</p>
	<p><a href="https://twitter.com/standardsapp" class="twitter-follow-button" data-show-count="false">Follow @standardsapp</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div>