<html>
<head>
	
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>Standards</h1>
		<ul>
			<li><img src="img/settings.png" alt="Settings"></li>
			<li><a href="/stats" title="Stats"><img src="img/stats.png" alt="Stats"></a></li>
			<li><img src="img/edit.png" alt="Edit"></li>
		</ul>
		<hr>
	</header><!-- /header -->

	<%= yield %>
	<script src="js/min/jquery.min.js"></script>
	<script src="js/min/plugins.min.js"></script>
</body>
</html>