<p>Hey <%= @name %>!</p>
<p>It sounds like you need to reset your Standards password.</p>
<p>You can reset your password by clicking the link below:</p>

<a href="<%= @url + "reset/" + @key %>" title="Reset my password">Reset my password</a>