<h2><%= @user.name %>'s Settings</h2>

<a href='/logout' title="Sign Out" class="btn"><i class="icon-signout"></i> Sign Out</a>
<a href="/change" title="Change Password" class="btn btn-warning">Change Password</a>