<tr>
	<td class="title">
		<span href="/<%= @task.id %>/rename" class="title"><%= @task.title %></span>
	</td>
	<td width="50">
		<a class="rename row-icon pull-right" title="Rename"><i class="icon-pencil"></i></a>
	</td>
	<td width="50">
		<a class="delete row-icon pull-right" title="Delete"><i class="icon-trash"></i></a>
		<%= erb :delete_modal, :layout => false %>
	</td>
	<td width="50">
		<a class="draggable">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	</td>
</tr>