<tr>
	<td class="title">
		<a href="/<%= @task.id %>" class="view"><%= @task.title %></a>
	</td>
	<td>
		<a class="delete" title="Delete"><i class="icon-trash"></i></a>
		<div class="modal hide fade deleteModal">
			<div class="modal-header">
				<h3>Delete</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete the task "<%= @task.title %>"</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal" >Cancel</a>
				<a href="/<%= @task.id %>/delete" class="delete-confirm btn btn-danger" data-dismiss="modal" >Delete</a>
			</div>
		</div>
	</td>
	<td>
		<a class="draggable">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	</td>
</tr>