form(class="form-horizontal", method="", action="", name="login")
  {{ fieldsets }}
  div(class="form-actions")
    button(type="submit", name="login", class="btn btn-primary") Log in
    button(type="submit", class="btn btn-standard forgot") Forgot password