.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .controls
        a.arrow.moveBackward
          i.icon-chevron-left
        a.brand Standards
        a.arrow.moveForward
          i.icon-chevron-right
      .nav-collapse
          ul.nav.pull-right
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                span.caret
                i.icon-user
              ul.dropdown-menu
                li: p= name
                li.divider
                li: a.settings(href="/settings", title="Settings") Settings
                li: a(href='/logout', title="Sign Out") Sign Out
