thead
  tr
    th
    <% _.each(getWeekdaysAsArray(true), function (day) { %>
    th <%= day.format('ddd') %>
    <% }); %>
tfoot
  tr
    td(class="title add", style="height: 50px;", colspan="8")
      div(class="ministat")
      a(class="add", style="border-color: #CCC")
        i(class="icon-plus-sign")
      form(id="newtask", class="form")
        input(id="title", name="title", type="text", autocapitalize="sentence", autocorrect="true", placeholder="Task: Go for a bike ride")
        input(id="purpose", name="purpose", type="text", autocapitalize="sentence", autocorrect="true", placeholder="Purpose: I want to be healthier")
        button(type="submit", class="btn") Add it!
tbody