<form class="form-horizontal" method="post" action="/signup" name="signup">
	<fieldset>
		<legend>Sign up</legend>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" placeholder="" autocorrect="false" autocapitalize="true" type="name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" name="email" placeholder="" autocorrect="false" autocapitalize="false" type="email">
				<span class='help-block'>You'll use this to sign in.</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password" placeholder="">
				<span class='help-block'>Minimum 8 characters, please.</span>
			</div>
		</div>
		<input type="hidden" id="timezone" name="timezone" value="">
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" onclick="_gaq.push(['_trackEvent', 'user', 'signup'])">Sign up</button>
		</div>
	</fieldset>
</form>