
<form method="post" action="/login" name="login" class="form-horizontal">
  <fieldset>
    <legend>Log in</legend>
    <div class="control-group">
      <label for="email" class="control-label">Email</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="" autocorrect="false" autocapitalize="false" class="input-xlarge"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge"/>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Log in</button>
      <button type="submit" class="btn btn-standard forgot">Forgot password</button>
    </div>
  </fieldset>
</form>