
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><a href="/" class="brand">Standards</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-user"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <p><% name %></p>
              </li>
              <li class="divider"></li>
              <li><a href="/settings" title="Settings">Settings</a></li>
              <li><a href="/logout" title="Sign Out">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>