thead
  tr
    th
    each day in getWeekdaysAsArray(true)
      weekday = day.format('ddd')
      number = day.format('D')
      if date.getDay() == day.day()
        th.today <strong>#{weekday}</strong><br>#{number}
      else
        th <strong>#{weekday}</strong><br>#{number}
tfoot
  tr
    td(class="title add", style="height: 50px;", colspan="8")
      div(class="ministat")
      a(class="add", style="border-color: #CCC")
        i(class="icon-plus-sign")
      form(id="newtask", class="form")
        input(id="title", name="title", type="text", autocapitalize="sentence", autocorrect="true", placeholder="Enter your task")
        input(id="purpose", name="purpose", type="text", autocapitalize="sentence", autocorrect="true", placeholder="Why are you doing it?")
        button(type="submit", class="btn") Add Task
tbody
