html {

}

body {

}

header {
	width: 100%;

	h1 {
		float: left;
		margin: 0 0 2% 0;
	}

	ul {
		margin-right: 2%;
		li {
			float: right;
			display: inline;
			list-style-image: none;
			margin-left: 3%;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid black;
		clear: both;
	}
}

table {
	width: 100%;
}
th {
	color: #AAA;
	font-weight: bold;
	padding: 2%;
}
td {
	text-align: center;
}
td.title {
		text-align: left;

		a {
			text-decoration: none;
		}
}
#edit-table {
	margin: 0 auto;
	width: 70%;
	max-width: 500px;
	tr {
		border-bottom: 1px solid #AAA;
		vertical-align: baseline;

		td {
			padding: 8px 0 2px 0;
		}
	}
}

.today {
	color: #666;
}

input {
	border: none;
	color: #666;
	font-size: 100%;
	width: 100%;
	padding: 6px 0;
	margin: 0;
}

.check {
	opacity: .05;
	-moz-opacity: .05;
	filter:alpha(opacity=05);

	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.complete {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.delete {
	cursor: pointer;
}

.rate {
	font-size: 200%;
}

#stats {
	text-align: center;
	width: 95%;
	margin: 5% auto;

	li {
		display: inline-block;
		list-style: none;
		margin: 0 3%;
		height: 200px;
		vertical-align: top;
	}
}

.metadata {
	color: #666;
	font-size: 80%;
}