html {

}

body {
}

@font-face {
	font-family: 'LeagueGothic';
	src: url('../fonts/league_gothic/League_Gothic-webfont.eot');
	src: local('☺'), url('../fonts/league_gothic/League_Gothic-webfont.woff') format('woff'), url('../fonts/league_gothic/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/League_Gothic-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
	width: 100%;

	h1 {
		float: left;
		margin: 0 0 2% 0;
	}

	ul {
		margin-right: 2%;
		li {
			float: right;
			display: inline;
			list-style-image: none;
			margin-left: 3%;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid black;
		clear: both;
	}
}

table {
	width: 100%;
	margin-top: 5%;
}
th {
	color: #AAA;
	font-weight: bold;
	padding: 2%;
}
td {
	text-align: center;
}
td.title {
		text-align: left;

		a {
			text-decoration: none;
			padding: 6px 5% 6px 10%;
			border-left: 5px solid;
		}
		p {
			margin: 0;
		}
		p.purpose {
			text-indent: 5%;
		}
}
td.add {
	margin-top: 15px;
	a {
		font-size: 24px;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		color: #CCC;
	}
}

@media (max-width: 480px) {
	#edit-table {
		width: 100%;
	}
}

.today {
	color: #666;
}

.check {
	opacity: .05;
	-moz-opacity: .05;
	filter:alpha(opacity=05);
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.complete {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.row-icon {
	cursor: pointer;
	color: @grayLight;
	text-decoration: none;
	font-size: 20px;
	margin-bottom: -3px;
}
.row-icon:hover {
	color: @grayLight;
	text-decoration: none;
}

.nav {
	i {
		font-size: 150%;
	}
	i.active {
		color: @grayDark;
	}
}

.rate {
	font-size: 200%;
}

#stats {
	text-align: center;
	width: 95%;
	margin: 5% auto;

	li {
		display: inline-block;
		list-style: none;
		margin: 0 3%;
		height: 200px;
		vertical-align: top;
	}
}

.metadata {
	color: #666;
	font-size: 80%;
}

.draggable {
	padding: 0;
	background-color: @white;
	float: right;
	color: @gray;

	.icon-bar {
		display: block;
		width: 18px;
		height: 2px;
		background-color: @grayLight;
		.border-radius(1px);
	}
	.icon-bar + .icon-bar {
		margin-top: 3px;
	}
}

p.purpose {
	color: @grayLight;
}

.password-strength {
	width: 280px;
}

@media(min-width: 481px) {
	.password-strength {
		margin-left: 160px;
	}
}

.footer {
	border-top: 1px solid @grayLighter;
	padding-top: 2%;
	margin-top: 10%;
}

p.about {
	max-width: 700px;
}

.score {
	color: @blue;
	float: left;
    display: block;
    padding: 6px 10px;
    font-size: 30px;
    font-weight: 200;
    line-height: 1;
    font-family: "LeagueGothic";
    text-transform: uppercase;
}

#stats {
	text-align: left;
	margin-top: 15%;
}

ul.settings {
	li {
		margin: 1% 0;
	}
}