<div class="modal hide fade deleteModal">
	<div class="modal-header">
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete the task "<%= @task.title %>"?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >No, I'll give it another shot</a>
		<a href="/<%= @task.id %>" class="delete-confirm btn btn-danger" data-loading-text="Deleting..." autocomplete="off">Yes, delete it</a>
	</div>
</div>