<p>Hey <%= @name %>!</p>
<p>It sounds like you need to reset your Standards password.</p>
<p>If you requested this, you can reset your password by clicking the link below:</p>
<a href="<%= @url + "reset/" + @key %>" title="Reset my password">Reset my password</a>
<p>If you didn't request this, feel free to ignore this email. No changes will be made.</p>
